<body>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">FinM Manager</h1>
        <p class="lead text-muted">This site was created to track personal expenses and transactions.</p>
      </div>
    </div>
  </section>
</body>