<div id="<%= dom_id category %>">
  <%= image_tag category.preview_img if category.preview_img.present? %>
  <h1 class="text-center"><%= category.title %></h1>
  <p>  
    <%= category.body %>
  </p>

</div>
