<div class="col" id="<%= dom_id transaction %>">
  <div class="card shadow-sm">
      <div class="card-body">
        <p class="card-text"><%= transaction.transact %></p>
        <%# <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> %>
          <%# transaction.body %>
          <div class="d-flex justify-content-between align-items-center">
          
            <div class="btn-group">
                <%= link_to transaction do %>
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <% end %>
                <%= link_to edit_transaction_path(transaction) do %>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                <% end %>   
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
  </div>