<main>
  <div class="album py-5 bg-light">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id ='categories'>
      <% @transactions.each do |transaction| %>
          <%= render 'index_transaction', transaction:transaction %>
      <% end %>
    </div>
  </div>
</main>
