<form class="col-6">
  <div class="form-group">
      <label for="formGroupDate1">Date 1</label>
      <input type="date" class="form-control" id="formGroupDate2">
  </div>
  <div class="form-group">
      <label for="formGroupDate2">Date 2</label>
      <input type="date" class="form-control" id="formGroupDate1">
  </div>
  <div class="form-group">
    <label>Тип операції : </label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Витрата</option>
        <option>Дохід</option>
      </select>
  </div>
  <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>